
/*variables and mixin */
@import "@src/components/!common/_";


/*libs*/
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import "@src/scss/fonts.scss";
@import '@src/scss/zen-modal.scss';





/*components*/
@import "@src/components/header/_";
@import "@src/components/footer/_";



/* rem(размер шрифта в пх) при сборке получаем в rem*/
/* lh(размер шрифта в пх, размер line-height в пх) при сборке получаем в rem*/

body {
  font-family: font(def);
  font-weight: 400;
  font-size: rem(16px);
  line-height: lh(14, 16);
  background-color: color('primary-100');
  color: color('primary-200')
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: 200ms;
  user-select: none;
  color: color('primary-100');
}

.btn:hover {
  color: color('primary-100')
}


.btn.red {
  background-color: color('red-200');
}

.btn.red:hover {
  background-color: color('red-100');
}

/* Для всех приложений Vue */
[v-cloak] {
    display: none;
}
